/*------------------------------------*\
    Topbar
\*------------------------------------*/
.#{$app-prefix}-topbar{
	border-bottom: 1px solid $border-color;
	color: #999;
	font-weight: 300;
	line-height: 44px;
	position: relative;
	
    ul, ol{
        list-style: none;
		margin: 0;
		padding: 0;
    }
	
	a{
		color: #999;
		&:hover{
			color: #333;
		}
	}   
	
	
}

.v-dark.#{$app-prefix}-topbar,
.v-dark2.#{$app-prefix}-topbar{
	border-bottom: none; 		
}

/*------------------------------------*\
    Header
\*------------------------------------*/
.#{$app-prefix}-header{
    position: relative;

}



/* Header style */
/*------------------------------------*/

/* Header 1 */
.#{$app-prefix}-header.header-v1{
	#wpo-headBottom{ 
		border-top: 1px solid $border-color;
	}
}

/* Header 3 */
.#{$app-prefix}-header.header-v3 {
    border-bottom: 1px solid #e5e5e5;
    margin: 0 0 30px;
	
	.header-main{
		@include rtl-border-left(1px solid #e5e5e5);
	}
	
	.#{$app-prefix}-topbar{
		position: relative;
		@include rtl-padding-left(20px);
		&:before{
			background: #e5e5e5;
			bottom: -1px;
			content: "";
			height: 1px;
			left: 0;
			position: absolute;
			width: 500%;
		}
	}
}

/* Header 4 */
.#{$app-prefix}-header.header-v4 {	
	.#{$app-prefix}-headMain{
		padding: 10px 0 30px;
	}
	
}

/* Header 2,3 */
.#{$app-prefix}-header.header-v2,
.#{$app-prefix}-header.header-v3,
.#{$app-prefix}-header.header-v6 {
	.navbar-mega .navbar-nav > .aligned-fullwidth > .dropdown-menu{
		min-width: 100%;
		width: auto !important;
		left: calc(-16.6667% - 30px);
		right: calc(-16.6667% - 30px);
	}
}

/*------------------------------------*\
    Breadcrumb
\*------------------------------------*/
.#{$app-prefix}-breadcrumb{
    
}

/*------------------------------------*\
    Slideshow
\*------------------------------------*/
.#{$app-prefix}-slideshow{

}


/*------------------------------------*\
    Main Menu
\*------------------------------------*/
.#{$app-prefix}-mainmenu{
    position: relative;
    &.bg-transparent{
        border-top:solid 1px #CCCCCC;
    }
    &.mainmenu-light{
        background:#FFFFFF;
    } 
    &.mainmenu-border{
        border-top: 1px solid $border-color;
        #main-menu > li{
            border-left: 1px solid $border-color;
            > a{
                border-left: none;
                padding: 0 30px;
            }
        }
    } 
}

.v-dark, .v-dark2{
	.navbar-mega .navbar-nav > li > a{		
		color: #fff; 		
	}
}

/*------------------------------------*\
    Container
\*------------------------------------*/
.#{$app-prefix}-mainbody{
    @include box-size($container-bg, $container-padding-top, $container-padding-bottom);
    position: relative;
}

/*------------------------------------*\
    Content
\*------------------------------------*/ 
##{$app-prefix}-content{
    background: $content-bg;  
    @include clearfix(); 
} 

/*------------------------------------*\
    Pagination
\*------------------------------------*/
.#{$app-prefix}-pagination{
    margin: 0;
}

/*------------------------------------*\
    Footer
\*------------------------------------*/

.#{$app-prefix}-footer{
    background: #fff;	
    position: relative;
	
	color: #000;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	
	
	li{
		padding: 6px 0
	}
	
	p{
		margin: 0 0 11px; 
	}
	 
    a{
        &:hover,
        &:focus,
        &:active{
            color: $footer-link-hover-color;
        }
    }
	
    .wpb-inner{
        margin-bottom: 0;
    }
} 



/*------------------------------------*\
    Copyright
\*------------------------------------*/
.#{$app-prefix}-copyright{

	.copyright{
		border-top: 1px solid $border-color;
		padding: 30px 0 55px; 
		text-align: center;
		color: #000;
		font-size: 14px;
		font-weight: 300;
		line-height: 20px;
		a{
			font-weight: 600;
			color: #000;
		} 
	}
   
    .#{$block-selector} {
        .#{$block-heading-selector}{
            color: $footer-heading-color;
            text-transform: $footer-heading-transform;
            margin: $footer-heading-margin;
            @include font-size(font-size,$footer-heading-font-size);
        }
    }
    .input-group{
        border: 0px;
        .fa{
            color: $gray-light;
        }
    }
    a{
        &:hover,
        &:focus,
        &:active{
            color: $theme-color;
        }
        color: $copyright-link-color;
    }
    address{ 
        margin: 0;
    }
    .payment{ 
        padding-top: 30px;
    }
}

/*------------------------------------*\
    Canvas sidebar
\*------------------------------------*/
.st-menu {
    background: #fff;
    border-left: 5px solid $border-color;
	
	h3{
		color: #1f1f1f;
		font-size: 15px;
		line-height: 40px;
		padding: 24px 0 24px 28px;
		margin: 0;
		text-transform: uppercase;
		@include rtl-padding-left(24px);
		border-bottom: 2px solid #f6f6f6;		
	}
}

/*------------------------------------*\
    Mini products list
\*------------------------------------*/
.mini-products-list {
    margin: 18px 0 0 28px;
	list-style: none; 
	.item{
		padding: 15px 15px 18px 0;
		border-bottom: 1px solid #f6f6f6;
		@include clearfix();
		&:last-child{ 
			border: none;
		}
		.remove{
			
			background: url(#{$image-theme-path}btn_remove.png) center center no-repeat;
			display: block;
			float: right;
			font-size: 0;
			height: 11px;
			line-height: 0;
			overflow: hidden;
			text-indent: -999em;
			width: 11px;
			margin: 3px 0 0;
		}
		
		.media{
			margin: 0;
		}
		.media-body{
			padding: 0 0 0 10px;
		}
		
		.media-heading{
			a{
				color: #1f1f1f;
				display: block;
				font-size: 14px;
				font-weight: 700;
				line-height: 1.3;
				text-transform: uppercase;
			}
		}
		
		.quantity{
			font-size: 16px; 
			font-weight: 300;
			strong{
				border: 1px solid #f6f6f6;
				color: #8e8f91;
				display: inline-block;
				font-weight: 400;
				height: 30px;
				line-height: 30px;
				min-width: 30px;
				text-align: center;
				font-size: 14px;
			}

		}
		.amount{
			color: #000;
		}
	}
	&.cart_list{
		.media img{
			max-width: 40px;
		}
	}
}

.cartwrapper{
	.total{
		border-color: #f6f6f6;
		border-style: solid;
		border-width: 1px 0;
		margin: 0 0 30px;
		padding: 0 30px;
		
		strong{
			color: #666;
			display: block;		
			font-size: 16px;
			font-weight: 600;
			line-height: 30px;
			padding: 15px 0;
		}
		
		.amount{
			color: #454545;
			float: right;
			font-size: 16px;
			font-weight: 300;
			line-height: 30px;
			padding: 15px 0;
		}
	}
	
	.actions{
		padding: 0 30px;
		
		.checkout{
			color: #fff;
			display: block;
			float: none;
			height: 54px;
			line-height: 54px;
			margin: 0 0 8px;
			text-align: center;
			text-transform: uppercase;
			width: 100%;
			background: #141414;
			padding: 0;
			font-weight: 400;
			font-size: 14px;
		}
		.btn-custom-1{ width: 100%;}
	}		
}


/*------------------------------------*\
    Search - Canvas
\*------------------------------------*/
.st-menu.st-search {
    width: 100%;
	border: none;
}

.top-search {
    height: 100%;
	.input-search{
		border-color: #e5e5e5;
		border-image: none;
		border-style: solid;
		border-width: 0 0 1px;
		color: #aaa;
		font-size: 36px;
		font-weight: 600;
		height: 78px;
		padding: 0;

	}
	.btn-search{
		background: url(#{$image-theme-path}icon-search.png) center center no-repeat;
		border: none;
		bottom: 0;
		margin: auto;
		overflow: hidden;
		padding: 0 15px;
		position: absolute;
		right: 0;
		text-indent: -9999em;
		top: 0;
		width: 40px;
	}
	.searchform {
		position: relative;
	}
}

/* List link */
.links.links-v1{
	> li{
		font-weight: 700; color: #333; margin-left: 15px; line-height: 44px; height: 44px;
		@include rtl-padding-left(30px);
		&:first-child{  margin-left: 0;}

		&.i-cart{  background: url("#{$image-theme-path}icon-cart.png") left center no-repeat; padding: 0; button{ padding: 0 15px 0 30px;}} 
		&.i-wishlist{  background: url("#{$image-theme-path}icon-wishlist.png") left center no-repeat; padding: 0; button{ padding: 0 15px 0 18px;} a{ min-width: 33px; display: block;}}
		&.i-search{ background: url("#{$image-theme-path}icon-search.png") left center no-repeat; padding: 0; button{ padding: 0 0 0 20px;}}
		&.i-menu{ background: url("#{$image-theme-path}icon-canvas.png") left center no-repeat; padding: 0; button{ padding: 0 0 0 20px;}}
		a{
			font-weight: 700; color: #333;
		}
		&:hover{
			cursor: pointer;
		}
		button{
			border: none;
			padding: 0;
			background: none;
			vertical-align: top;
			height: 44px;
		}
	} 

}

.v-dark, .v-dark2{
	.links.links-v1{
		> li{
			&.i-cart{  background: url("#{$image-theme-path}icon-cart-light.png") left center no-repeat;}
			&.i-wishlist{  background: url("#{$image-theme-path}icon-wishlist-light.png") left center no-repeat;}
			&.i-search{ background: url("#{$image-theme-path}icon-search-light.png") left center no-repeat;}
			&.i-menu{ background: url("#{$image-theme-path}icon-canvas-white.png") left center no-repeat;}
		}
	}
}

.links{
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.links {
	> li{
		display: block;
		@include rtl-float-left();
		padding: 0 15px 0 12px;
		position: relative;
		
		&:first-child{
			padding-left: 0;
		}
		
		
		
		&:before {
			border-right: 1px dotted #b2b2b2;
			content: "";
			height: 13px;
			position: absolute;
			right: 0;
			top: 16px;
			width: 1px;
		}
	}
	
	&.nob-l{
		> li{
			&:last-child{
				padding-right: 0;
				&:before{
					display: none;					
				}
			
			}
		}
	}
}

.links-social li {
    display: block;
    float: left;
    line-height: 44px;
    padding: 0 7px;
	.fa {
		color: #aaa;
		font-size: 18px;
	}
}

/* Style Skin color */
.v-dark, .v-dark2{
	background: #333;
	a, input, button, select, textarea{
		color: #999;
		&:hover{
			color: #fff;
		}
	}
}
.v-dark2{
	background: #222;
}

.header-v8{
	#wpo-topbar {
		background: #303030;
		border: medium none;
		line-height: 40px;
	}
	.v-dark, .v-dark2{
		background: #222;
	}
}

.pr-bottom{
	border-top: 1px solid $border-color;

	z-index: 1;
	position: relative;
	&:before{
		content:"";
		position: absolute;
		width: 1px;
		height: 100%;
		background: $border-color;
		left:0;
		right: 0;
		top: 0;
		margin: auto;
	}
}
.fw-3{
	font-weight: 300;
}
.fw-4{
	font-weight: 400;
}
.fw-5{
	font-weight: 500;
}
.fw-6{
	font-weight: 600;
}
.fw-7{
	font-weight: 700;
}
.fw-8{
	font-weight: 900;
}

.les-1{ letter-spacing: .1em;}
.les-2{ letter-spacing: .2em;}
.les-3{ letter-spacing: .3em;}
.les-4{ letter-spacing: .4em;}
.les-5{ letter-spacing: .5em;}
.f-custom-block{
	background: url(../images/bg-tg.jpg) top left repeat;
	padding: 70px 0;
	margin: 0 0 60px;
}
.f-custom-block .wpb_wrapper {	
	h2{
		font-size: 60px;
		position: relative;
		text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
		line-height: 1.2;
		color: #fff;
		letter-spacing: 0.1em;
	}
	h3{
		font-size: 40px;
		color: #fff;
		margin: 10px 0 15px;
	}
	p{
		color: #fff;
		font-size: 14px;
		font-weight: 300;
		line-height: 20px;
	}
}

/* Footer */
.wpo-footer{
	background: transparent;
	.mc4wp-form{
		.btn-newsletter{
			
		}
	}
	.mc4wp-form #mc4wp_email{
		margin-bottom: 12px; 
	}

	.v-white{
		
		p{
			color: #999;
			line-height: 20px;
		}
		
		h2, h4{ font-size: 14px;}
		h2, h4 , p, h5{ color: #fff !important; }
		p, li, a {
			color: #aaa !important;
		}
		a:hover{
			color: #fff !important; 
		}
		.mc4wp-form #mc4wp_email{
			border-color: #5c5c5c;
		}
		
		.widgettitle, .widget-title, h4.vc_custom_heading{
			&:before{
				background: #fff;
			}
		}
		
	}
	
	.footer-v4{
		.social-link{
			li{
				padding: 0;
			}
		}
		
		[class*="col-sm"]{
			border-right: 1px dotted #717171;
			min-height: 240px;
			&:last-child{
				border: none;
				min-height: 0;
			}
		}
		
		.wpo-newsletter-inner{
			.mc4wp-form{
				padding: 0 15px;
				#mc4wp_email{
					border-color: #5c5c5c;
					color: #888;
				}
				.btn-newsletter{
					width: 100%;
				}
			}			
		}
		.vc_general[class*="vc_btn"]{
			
		}
		
		[class*="menu-footer"]{
			text-align: center;
			.menu{
				li{
					position: relative;
					padding: 0 15px 0 12px;
					display: inline-block;
					a{
						display: block;
						font-size: 12px;
						text-transform: uppercase;
						color: #aaa;
						&:hover{
							color: #fff;
						}
					}
					&:before {
						border-right: 1px dotted #b2b2b2;
						content: "";
						height: 13px;
						position: absolute;
						right: 0;
						top: 2px;
						width: 1px;
					}
					&:last-child{
						&:before{
							display: none;
						}
					}
				}
				
			}
		}		
	}
}

/* Login/Register */
.account-login{
	margin-bottom: 60px;
	p{
		font-size: 14px;
	}
	h2{
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 20px;
		text-align: center;
		text-transform: uppercase;
	}
	
	label{
		color: #9c9c9c; 
		margin: 10px 0 6px;
	}
	
	.input-text{	
		color: #888;
		font-weight: 300;
		height: 44px;
		margin: 7px 0 0;
		text-align: center;
		width: 96% !important;
		margin: 0 auto;
	}
	
	.rememberme{
		
	}
	.button{
	
	}
	
}
.box-ct {
    border: 3px solid $border-color;
    min-height: 380px; 
    padding: 8% 14%;
    text-align: center;
}

#wpo-off-canvas{
	display: none;
}

.no-bb{
	.widgettitle, .widget-title, h4.vc_custom_heading{
		&:before{
			display: none !important;
		}
	}
}

div#yith-wcwl-popup-message{
	background-color: rgba(0, 0, 0, .45);
	@include border-radius(0);
    border: 0;
	color: #fff;
    left: 50%;
    line-height: 30px;
    padding: 5px 40px;
    position: fixed;
    text-align: center;
    top: 50%;
    z-index: 10000;

}

.wishlist_table{
	margin: 0 0 40px;
	.add_to_cart{
		@include border-radius(0);
	}
	
	thead{
		th{
			border-bottom: 1px solid $border-color;
			color: #000;
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 0.2em;
			padding: 8px 0;
			text-transform: uppercase;
		}
	}
	
	tbody{
		td{
			border-bottom: 1px solid $border-color;
			padding: 15px 10px; 
			&:first-child{
				padding-left: 0;
			}
		}
	}
}

#yith-wcwl-form{
	h2{
		display: none;
	}
}

.yith-wcwl-share{
	margin: 0 0 50px;
}