/*
*  Main Menu
*/
.navbar-mega{
    min-height: inherit;
    margin: 0px;
    border: 0px solid $navbar-mega-border;
    @include border-radius(0);
    .navbar-nav{
        float: none;
        > .open{
            > a{
                border-color: $nocolor;
                border-left-color: rgba(0, 0, 0, 0.1);
                color: $navbar-link-hover-color;
                background: $navbar-link-hover-bg;
                &:before{
                    @include opacity(1);
                }
            }
        }
        ul{
            @include clear-list();
            li{
				
                &.parent{
                    position: relative;
                }
                &.dropdown-submenu{
                    position: relative;
                    .dropdown-menu{
                        top: 0;
                        left: 100%;
                        right: auto;
                        position: absolute;                     
                    }
                }
            }
        }
        li{
			
            &.active{
                background: none;
                > a{
                    background: none;
                    color: $theme-color!important;
                }
            }
            a{
				@include transition ( all 0.2s ease 0s);
                &:hover, &:active, &:focus{
                    background: none;
                    color: $theme-color;
                }
            }    
            &.open > a{
                background: none;
                color: $theme-color;
            }
        }
        > li{
            float: none;
			padding: 9px 20px;
            @include inline-block();
			
			&:hover{
				> a{
					background: none;
                    color: $theme-color;
				}
			}

            > a{
				position: relative;
				
				@include rtl-padding-right(14px);
				
				&.dropdown-toggle{
					&:after{
						content:"\f107";
						position: absolute;
						@include rtl-right(0);
						top: 0; 
						width: 20px;
						height: 100%;
						font-family: FontAwesome;
						font-size: 12px;
						text-align: right;
						font-weight: 400;
						line-height: 38px; 
						color: #777;
					}
				}
				
						
                &:before{
                    border-right: 1px dotted #b2b2b2;
					bottom: 0;
					content: "";
					height: 13px;
					margin: auto;
					position: absolute;
					right: -20px;
					top: 0;
					width: 1px;
                }
                .caret{
					display: none;					
                }
				
				.text-label{
					color: #fff;
					display: block;
					font-size: 10px;
					font-weight: 600;
					height: 16px;
					letter-spacing: 0;
					line-height: 18px;
					padding: 0 6px;
					position: absolute;
					right: -20px;
					top: -10px;
				}
				.text-hot{ background: red;}
				.text-featured{ background: green;}
				.text-new{ background: #f35a5a;}
            }
			
			&:last-child > a{
                &:before{
					display: none;
				}
            }
            
           
			
           
            &.parent{
                &:hover{
                    a{

                    }
                }
            }

            .dropdown-menu{
               	display: block;
				margin-top: 20px;
				visibility: hidden;
				opacity: 0;
				border: none;
				@include translate(0,0); 
				@include transition(all 200ms ease-in-out);
				
									
				font-weight: 400;		
				min-width: 20em;				
				padding: 20px 35px;				
				background-color: #fff;						
				@include box-shadow(0 0 3px rgba(0, 0, 0, 0.09));
				@include transition(all 0.2s ease-in-out 0s);	
				
				a{					
					border-bottom: 1px dotted #b2b2b2;
					padding: 0;
					line-height:50px;
					color: #000;
					text-transform: none;
					font-size: 13px;
					font-weight: 300;
					letter-spacing: 0;

					
					&:hover {
						@include transition ( all 0.2s ease 0s);
						color: $theme-color;
						
					}
				}
				
				li:last-child a{
					border: none;
				}
            }
			
			
			
            .mega-dropdown-menu{
                padding: $theme-padding + 10;
                ul{
                    li{
                        a{
                            @include rtl-padding-left(0);
                            @include rtl-padding-right(0);
                            &:hover{
                                @include rtl-padding-left(10px);
                                @include rtl-padding-right(10px);
                            }
                        }
                    }
                }
            }
			
        }
		
		li:hover{
			> .dropdown-menu{
				margin-top: 0;
				visibility: visible;
				opacity: 1;
			}
		}
		
		ul.dropdown-menu ul.dropdown-menu{
			left: 80%;
			top: 0;
		}
		
		a{
			display: block;
			font-size: 14px;
			font-weight: 600;
			letter-spacing: 0.2em;
			line-height: 40px;
			text-transform: uppercase;
			padding: 0;
			color: #3a3d41;
			
		}
		
        > .active{
            background: $navbar-link-active-bg;
           >  a{
                color: $navbar-link-active-color;
                &:before{
                    @include opacity(1);
                }
            }
        }
        > .aligned-fullwidth{
            position: static !important;
            > .dropdown-menu{
                width: 100% !important;
            }
        } 
        > .aligned-right{
            > .dropdown-menu{
                right: 0;
                left: auto;
            }
        }

    }
	
    .#{$block-selector} {
		margin-bottom: 0;
        #{$block-heading-selector}{
            color: #000;
			font-size: 14px;
			font-weight: 600;
			line-height: 50px;
			text-transform: uppercase;
			
			margin: 0;
			padding: 0;
			
			 
        }
    }        
}

#wpo-header.menu_fixed {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: #fff;
}
