@media only screen and (max-width: 1390px){
	.container {
		max-width: 98% !important; 
	}
}

@media only screen and (max-width: 1620px){
	.box_banner_left{
		> div{ width: 100%;}	
		.banner_left{
			img{
				display: none;
			}
			.widget-title{
				margin-bottom: 0;
			}
		}		
	}
	
	div.pr-top {
		padding-top: 40px !important;
	}
	
	
	
	.wpb_wrapper.vc_custom_1435045769368{
		margin-right: 40px !important;
		padding-left: 0 !important;
	}
	
	.vc_custom_1433926796529{
		.wpb_text_column.wpb_content_element{
			margin-bottom: 12px;
		}
	}
}

@media only screen and (max-width: 1320px)  {
	.wpb_wrapper.vc_custom_1436149844905{
		padding-top: 30px !important;
		.wpb_single_image{
			margin-bottom: 15px;
		}
		.widget-text-heading{
			margin: 0;
		}
	}
}

@media(max-width: $screen-xs-max){
   .masonry-item{
      img{
         width: 100%;
      }
   }
   
}
@media(min-width: $screen-sm-max){

	.links.links-v1 > li.i-search:before{
		display: none;
	}
	
} 

@media(max-width: $screen-sm-max){

	.wpo-header.header-v3 {
		border-bottom: none;
		margin: 0;
		.wpo-topbar{
			padding: 0;
			&:before{
				display: none;
			}
		}
		.header-main {
			border-left: none;
		}
	}

	
	.f-custom-block .wpb_wrapper h2{
		font-size: 40px;
	}
	
	.wpb-container.pr-bottom{
		padding-bottom: 0px !important;
	}
	
	.opal-title .widget-title, .heading-v1 .widget-title{		
		font-size: 14px;
		margin: 40px 0 26px;
		span{
			&:before, &:after{
				display: none;
			}
		}		
	}
	
	

	.counters h5{
		font-size: 14px;
	}
	.container{
		width: 93%;
	}

	
	.logo-in-theme{
		text-align: center;
	}
	
	.st-search{
		.d-table      { display: table; width: 100%;}
		.d-table-cell { display: table-cell; vertical-align: middle; float: none;}
	}
	
	.d-table      { display: block; width: auto;}
	.d-table-cell { display: block; }
	
	.links.links-v1 > li.i-search{
		padding: 0 6px 0 0;
	}
	
	.wpo-banner.effect-1 .des, .wpo-banner.effect-1 .link{
		@include transform(scale(1));
	}	
	
	.wpo-banner .banner-body{
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	
	.wpo-banner h2{
		margin: 0;
		font-size: 30px !important;
	}
	
	.wpo-banner{
		.des{
			display: none !important;
		}
	}
	.wpo-sidebar{
		.widget_top_rated_products{
			display: none;
		}
		
		.widget_product_categories{
			.product-categories{
				> li{					 
					&.cat-parent{
						> a, > span{ display: none;}
					}
				}
				li{ display: inline-block; padding: 0px 12px 0 0px;} 
			}
		}
	}
	
	.product-info .product_title{
		font-size: 24px;
	}
	
	.product-info .amount{
		font-size: 36px;
	}
	
	.wpo-breadcrumbs{
		height: 240px;
	}
	
	.wpo-breadcrumbs .breadcrumb-heading{
		font-size: 36px;
	}
	
	.newletter-v1 > div{
		padding: 30px 0 40px !important;
	}
}

@media only screen and (max-width: 800px)  {
	.vc_custom_1437125507082{		
		[class*="col-sm"]:first-child{
			width: 100%;
			padding: 0 0 45px;
		}
		[class*="col-sm"]:last-child{
			display: none;
		}
	}
	
	.vc_custom_1436149844905 {
		.wpb_single_image{
			display: block;
		}
		
	}
	
	.vc_custom_1435034620877{
		.widget-description{
			display: none;
		}
	}
	
	.post-area article .information-post .entry-title a{
		font-size: 16px;
	}
	
	.notfound-page .title{
		font-size: 100px;
		.sub{
			font-size: 38px;
		}
		.error-description{
			font-size: 15px;
		}
	}
	
	.text-big-1{
	  font-size: 20px!important; 
	  line-height: 1.1em;
	}
	.text-big-2{
	  font-size: 26px!important;
	  line-height: 1.1em;
	}
	.text-big-3{
	  font-size: 34px!important;
	  line-height: 1.1em;
	}

	.slideshowpost .entry-thumb h4{
		position: static;
		color: #000;
		margin: 15px 0 0;
	}
	
	.slideshowpost .entry-date{
		top: 0;
		bottom: auto;
	}
	
	.slideshowpost .entry-content{
		padding-left: 0;
	}
	
}


@media(max-width: $screen-xs-max){
	.action{
		.add_to_cart_button, .product_type_simple, .product_type_external, .product_type_grouped{
			display: none !important;
		}
	}

	.container{
		width: 96%;
	}
	.border-center{
		&:after{
			display: none;
		}
	}
	.opal-title .widget-title, .heading-v1 .widget-title{
		margin: 40px 0 26px; 
	}
	.f-custom-block .wpb_wrapper h2{
		font-size: 30px;
	}
	.f-custom-block .wpb_wrapper h3{
		font-size: 20px;
	}
	
	.wpb-container.vc_custom_1435642703696, .wpb-container.vc_custom_1435652095030{ margin: 0 !important;}  
	
	.wpb-container.vc_custom_1436153698113{
		padding: 50px 0 !important;
	}
	
	.wpb_wrapper.vc_custom_1435801781316{
		padding: 15px 5% 1px !important;
	}
	
	.wpo-newsletter.widget.style-2{
		padding: 25px 25px 35px;
	}
	
	.wpo-banner .btn{
		background: transparent;
		line-height: 1em;
		color: #fff;
	}
	
	.product-info .product_title{
		font-size: 20px;
		margin: 0 0 15px;
	}
	
	.product-info .amount{
		font-size: 32px;
	}
	
	.single-product.woocommerce .thumbnails{
		margin: 0 0 30px;
	}
	
	.product-block{
		@include clearfix();
		.image{
			max-width: 50%;
			float: left;
			margin: 0 15px 0 0px;
		}
		.caption{
			text-align: left; 
		}
	}
	
	.meta-horizontal {
		.price{
			float: none;
			ins, del{
				text-align: left;
				margin: 0;
			}			
		}
		.name{
			margin-top: 0;
		}
	}
	
	.pr-bottom{
		&:before{
			display: none;
		}
	}
	
	.wpb_wrapper.vc_custom_1435034620877{
		padding: 15px 0 !important;	
	}
	
	.vc_custom_1435045106688{
		padding-bottom: 40px; 
		border-top: 1px solid $border-color;
	}
	
	.product-block .price .amount:nth-child(1) {
		display: block;
	}
	
	/* other page */
	.feature-box.feature-box-right, .feature-box.feature-box-left{
		padding: 0 !important;
		text-align: center;
	}
	
	.separator_align_right, .separator_align_left{
		text-align: center !important;
	}
	.feature-box-right[class*="feature-box-"] h4::before,
	.feature-box-left[class*="feature-box-"] h4::before{
		left: 0 !important;
		margin: auto; 
		right: 0 !important;
	}
	
	.counters {
		margin: 0 0 40px !important; 
	}
	
	#wpo-topbar{
		.links{
			float: none !important;
			border-bottom: 1px solid $border-color; 
		}
	}
	
	.header-v4{
		#wpo-topbar{
			.links{				
				border-bottom: none; 
			}
		}
	}
	.d-flex		  { 
		display: block;
		
	}

	.no-border{
		border: none !important;
	}
 
	.flex {
		display: block;
		> li, > div{
			display: block;
		}
	}
	
	.row-flex{
		.row, .container-full{
			display: block;
			[class*="col-"]{			
				.wpb_wrapper{
					height: auto;
				}
			}
			
		}
	}
	
	.product-block{		
		&:hover{
			.action .button{
				@include rtl-left(-200px); 
				@include transition(all 300ms ease-in-out);
				opacity: 1;
				visibility: visible;
			}
			.quick-view .button{
				@include rtl-right(-200px); 
				@include transition(all 300ms ease-in-out);
				opacity: 1;
				visibility: visible;
			}
			
			.wishlist .show a{
				@include rtl-right(-200px); 
				@include transition(all 300ms ease-in-out);
				opacity: 1;
				visibility: visible;
			}
		  
		}
	}
	.space-padding-tb-100 {
		padding-bottom: 40px !important;
		padding-top: 40px !important;
	}
	
	.border-center:after{ 
		display: none !important; 
	} 
	
	/* Update 29/8 */
	.product-block .meta-horizontal{
		.price{
			float: none !important;
			margin: 0 0 10px !important;
		}
	}
	
	div.vc_custom_1437625282942 {
		padding-bottom: 51px !important;
		padding-top: 20px !important;
	}
	
	div.vc_custom_1437548278451{
		margin: 0 5% !important;
	}
	
	.vc_custom_1439636112397{
		h2.vc_custom_heading{
			font-size: 34px !important;
		}
		
		h3.vc_custom_heading{ 
			font-size: 30px !important;
		}
	} 
}

